name: Ruby

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Ruby 2.7
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7.0
    - name: Build and test with Rake
      run: |
        sudo apt-get install libsqlite3-dev
        gem install bundler -v 2.4.22
        bundle install --jobs 4 --retry 3
        bin/test
